# Business Intelligence Assignment 7

### Groupname Powersmilling - This assignment was made by Yakubu, Kristoffer and Yosuke

### Part 1: Data processing

In [1]:
import pandas as pd
%pylab inline
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn import tree
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('../adjustfinallist.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,address,zip_code,price,sell_date,sell_type,price_per_sqm,no_rooms,housing_type,size_in_sqm,year_of_construction,price_change_in_pct,latitude,longitude,zip_nr,sell_year,dist_from_cph_center
0,0,0,"Ved Volden 5, 5. TV",1425 København K,4000000,2017-05-23,Alm. Salg,43956.0,3,Lejlighed,91.0,1938.0,0.0,55.671769,12.593629,1425,2017,2.851984
1,1,1,"Rådhusstræde 4C, 1",1466 København K,4895000,2017-05-18,Alm. Salg,46619.0,3,Lejlighed,105.0,1796.0,0.0,55.676839,12.573689,1466,2017,0.600778
2,2,2,"Store Kongensgade 112A, 3",1264 København K,250000,2017-05-15,Andet,1851.0,2,Lejlighed,135.0,1860.0,0.0,55.687079,12.590441,1264,2017,2.731312
3,3,3,"Amaliegade 13G, 2",1256 København K,7375000,2017-05-15,Alm. Salg,75255.0,3,Lejlighed,98.0,1948.0,9.0,55.683439,12.591287,1256,2017,2.673396
4,4,4,"Borgergade 144, 3. TH",1300 København K,5825000,2017-10-05,Alm. Salg,57673.0,3,Lejlighed,101.0,1854.0,3.0,55.687623,12.588744,1300,2017,2.590746

In [4]:
df.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1, inplace=True)

In [5]:
df.head()

,address,zip_code,price,sell_date,sell_type,price_per_sqm,no_rooms,housing_type,size_in_sqm,year_of_construction,price_change_in_pct,latitude,longitude,zip_nr,sell_year,dist_from_cph_center
0,"Ved Volden 5, 5. TV",1425 København K,4000000,2017-05-23,Alm. Salg,43956.0,3,Lejlighed,91.0,1938.0,0.0,55.671769,12.593629,1425,2017,2.851984
1,"Rådhusstræde 4C, 1",1466 København K,4895000,2017-05-18,Alm. Salg,46619.0,3,Lejlighed,105.0,1796.0,0.0,55.676839,12.573689,1466,2017,0.600778
2,"Store Kongensgade 112A, 3",1264 København K,250000,2017-05-15,Andet,1851.0,2,Lejlighed,135.0,1860.0,0.0,55.687079,12.590441,1264,2017,2.731312
3,"Amaliegade 13G, 2",1256 København K,7375000,2017-05-15,Alm. Salg,75255.0,3,Lejlighed,98.0,1948.0,9.0,55.683439,12.591287,1256,2017,2.673396
4,"Borgergade 144, 3. TH",1300 København K,5825000,2017-10-05,Alm. Salg,57673.0,3,Lejlighed,101.0,1854.0,3.0,55.687623,12.588744,1300,2017,2.590746

In [6]:
df.describe()

,price,price_per_sqm,no_rooms,size_in_sqm,year_of_construction,price_change_in_pct,latitude,longitude,zip_nr,sell_year,dist_from_cph_center
count,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06
mean,1.437446e+06,1.122160e+04,4.631876e+00,1.336675e+02,1.956144e+03,1.745242e+03,5.588472e+01,1.061821e+01,6.120533e+03,2.006601e+03,2.348664e+02
std,1.851221e+06,1.489797e+04,1.723463e+00,5.420673e+01,4.334513e+01,1.169178e+06,6.391005e-01,1.392883e+00,2.266808e+03,6.950279e+00,1.456680e+02
min,5.001000e+03,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+03,-1.000000e+02,5.456327e+01,8.087187e+00,1.050000e+03,1.992000e+03,1.881531e-01
25%,5.920000e+05,4.918000e+03,4.000000e+00,9.800000e+01,1.935000e+03,-1.000000e+00,5.545921e+01,9.579040e+00,4.220000e+03,2.001000e+03,8.731299e+01
50%,1.030000e+06,8.499500e+03,4.000000e+00,1.290000e+02,1.967000e+03,0.000000e+00,5.576548e+01,1.030861e+01,6.100000e+03,2.007000e+03,2.680543e+02
75%,1.750000e+06,1.414800e+04,5.000000e+00,1.610000e+02,1.980000e+03,0.000000e+00,5.620674e+01,1.196735e+01,8.300000e+03,2.013000e+03,3.446415e+02
max,7.923700e+07,2.650000e+06,4.650000e+02,5.363000e+03,2.017000e+03,1.070000e+09,5.774733e+01,1.515301e+01,9.990000e+03,2.017000e+03,5.034509e+02

In [7]:
#df=df[df['price_change_in_pct'].notnull()]

In [8]:
#df.isnull().T.any().T.sum()
#df[df.isnull().T.any().T]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038644 entries, 0 to 1038643
Data columns (total 16 columns):
address                 1038644 non-null object
zip_code                1038644 non-null object
price                   1038644 non-null int64
sell_date               1038644 non-null object
sell_type               1038644 non-null object
price_per_sqm           1038644 non-null float64
no_rooms                1038644 non-null int64
housing_type            1038644 non-null object
size_in_sqm             1038644 non-null float64
year_of_construction    1038644 non-null float64
price_change_in_pct     1038644 non-null float64
latitude                1038644 non-null float64
longitude               1038644 non-null float64
zip_nr                  1038644 non-null int64
sell_year               1038644 non-null int64
dist_from_cph_center    1038644 non-null float64
dtypes: float64(7), int64(4), object(5)
memory usage: 126.8+ MB

In [10]:
df['labels'] = ""

In [11]:
df.loc[df['price_change_in_pct'] < -60.0,"labels"]=1
df.loc[(df['price_change_in_pct'] > -60.0) & (df['price_change_in_pct'] < 0.0),"labels"]=2
df.loc[df['price_change_in_pct'] == 0.0,"labels"]=3
df.loc[(df['price_change_in_pct'] > 0.0) & (df['price_change_in_pct'] < 100.0),"labels"]=4
df.loc[df['price_change_in_pct'] > 100.0,"labels"]=5

In [12]:
a = df[df['labels']==1]
b = df[df['labels']==2]
c = df[df['labels']==3]
d = df[df['labels']==4]
e = df[df['labels']==5]

In [13]:
asample = a.sample(n=50)
bsample =b.sample(n=50)
csample =c.sample(n=50)
dsample =d.sample(n=50)
esample =e.sample(n=50)

In [14]:
validation_y = pd.concat([asample, bsample, csample,dsample, esample])
validation_x = pd.concat([asample.iloc[:,0:16],bsample.iloc[:,0:16],csample.iloc[:,0:16],dsample.iloc[:,0:16],esample.iloc[:,0:16]])

In [15]:
df = df[~df.index.isin(validation_x.index)]

In [16]:
validation_x = validation_x[['zip_nr','price','no_rooms','size_in_sqm','year_of_construction','sell_year']].values

In [17]:
validation_y = validation_y['labels']

In [18]:
#df.isna()
#df.labels.isna()

In [19]:
df = df.apply(lambda labels :pd.to_numeric(labels, errors='coerce'))

In [20]:
df['labels'] = df['labels'].fillna(3)

In [21]:
df['price'] = df.price/100000
x = df[['zip_nr','price','no_rooms','size_in_sqm','year_of_construction','sell_year']].values

In [22]:
y = df['labels'].values

In [23]:
print(x.shape,y.shape)

(1038394, 6) (1038394,)

In [24]:
#x = x.reshape(-1,6)
#y = y.reshape(-1,1)

In [25]:
nan = np.isnan(y).any()
np.isnan(y).sum()
print(nan)

False

### Part 2: ML model selection and construction

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=5)

In [27]:
print(len(x_train), len(y_train),len(x_test), len(y_test) )

830715 830715 207679 207679

In [28]:
# four models
model_svm = svm.SVC()
model_dt = tree.DecisionTreeClassifier(max_depth = 3)
model_lr = LogisticRegression()
model_knn = KNeighborsClassifier()

### Part 3: Training & Validation

In [29]:
#logistic regression
model_lr.fit(x_train,y_train)
model_lr.score(x_test,y_test)
print(model_lr.score(x_test,y_test))

C:\Users\yosuke\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\yosuke\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.7300449251007565

In [30]:
# support vector machine
#model_svm.fit(x_train, y_train)
#y_pred_svm = model_svm.predict(x_test)
#print(accuracy_score(y_pred_svm, y_test))
#confusion_matrix(y_test, y_pred)

In [31]:
# decision tree
model_dt.fit(x_train, y_train)
y_predict_tree = model_dt.predict(x_test)
print(accuracy_score(y_predict_tree, y_test))

0.7955306025163834

In [32]:
# K nearst neighbour
model_knn = KNeighborsClassifier(n_neighbors = 5)
model_knn.fit(x_train,y_train) 
print(model_knn.score(x_test,y_test))

0.7841717265587758

In [ ]:
#If you made a multi-level classifier model; inspecting the 
# confusion matrix and compute accuracy, precision, and recall, for all classes (remember 3 classes => 3x3 conf.mat.).

In [33]:
x_train

array([[6.270e+03, 5.750e+00, 3.000e+00, 1.520e+02, 1.923e+03, 2.003e+03],
       [9.220e+03, 7.200e+00, 4.000e+00, 1.540e+02, 1.973e+03, 1.992e+03],
       [4.200e+03, 2.625e+01, 4.000e+00, 1.520e+02, 1.922e+03, 2.011e+03],
       ...,
       [6.400e+03, 5.950e+00, 4.000e+00, 8.000e+01, 1.877e+03, 2.007e+03],
       [2.600e+03, 1.420e+01, 4.000e+00, 9.600e+01, 1.968e+03, 2.004e+03],
       [4.500e+03, 6.750e+00, 5.000e+00, 9.200e+01, 1.972e+03, 2.005e+03]])

In [34]:
first = validation_x[0].reshape(1,-6)
second = validation_x[2].reshape(1,-6)
ninety = validation_x[90].reshape(1,-6)

In [36]:
#model_knn.predict(x_test)
first

array([[9.760e+03, 2.700e+05, 7.000e+00, 2.450e+02, 1.982e+03, 2.009e+03]])

In [38]:
label = {1:'under -60%', 2:'under 0%',3:'sold to claimed price',4:'sold to overprice',5:'sold to overprice exceeding 100%'}

print('Prediction:%s\nProbability:%.2f%%'%(label[model_knn.predict(first)[0]], np.max(model_knn.predict_proba(first))*100))

Prediction:sold to claimed price
Probability:100.00%

In [39]:

print('Prediction:%s\nProbability:%.2f%%'%(label[model_knn.predict(second)[0]], np.max(model_knn.predict_proba(second))*100))

Prediction:sold to claimed price
Probability:100.00%

In [40]:
print('Prediction:%s\nProbability:%.2f%%'%(label[model_knn.predict(ninety)[0]], np.max(model_knn.predict_proba(ninety))*100))

Prediction:sold to claimed price
Probability:100.00%

### Part 4: Report your findings (BI)

### Part 5: House Keeping