# Business Intelligence Assignment 7

### Groupname Powersmilling - This assignment was made by Yakubu, Kristoffer and Yosuke

### Part 1: Data processing

In [1]:
import pandas as pd
%pylab inline
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn import tree
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('../adjustfinallist.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,address,zip_code,price,sell_date,sell_type,price_per_sqm,no_rooms,housing_type,size_in_sqm,year_of_construction,price_change_in_pct,latitude,longitude,zip_nr,sell_year,dist_from_cph_center
0,0,0,"Ved Volden 5, 5. TV",1425 København K,4000000,2017-05-23,Alm. Salg,43956.0,3,Lejlighed,91.0,1938.0,0.0,55.671769,12.593629,1425,2017,2.851984
1,1,1,"Rådhusstræde 4C, 1",1466 København K,4895000,2017-05-18,Alm. Salg,46619.0,3,Lejlighed,105.0,1796.0,0.0,55.676839,12.573689,1466,2017,0.600778
2,2,2,"Store Kongensgade 112A, 3",1264 København K,250000,2017-05-15,Andet,1851.0,2,Lejlighed,135.0,1860.0,0.0,55.687079,12.590441,1264,2017,2.731312
3,3,3,"Amaliegade 13G, 2",1256 København K,7375000,2017-05-15,Alm. Salg,75255.0,3,Lejlighed,98.0,1948.0,9.0,55.683439,12.591287,1256,2017,2.673396
4,4,4,"Borgergade 144, 3. TH",1300 København K,5825000,2017-10-05,Alm. Salg,57673.0,3,Lejlighed,101.0,1854.0,3.0,55.687623,12.588744,1300,2017,2.590746

In [4]:
df.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1, inplace=True)

In [5]:
df.head()

,address,zip_code,price,sell_date,sell_type,price_per_sqm,no_rooms,housing_type,size_in_sqm,year_of_construction,price_change_in_pct,latitude,longitude,zip_nr,sell_year,dist_from_cph_center
0,"Ved Volden 5, 5. TV",1425 København K,4000000,2017-05-23,Alm. Salg,43956.0,3,Lejlighed,91.0,1938.0,0.0,55.671769,12.593629,1425,2017,2.851984
1,"Rådhusstræde 4C, 1",1466 København K,4895000,2017-05-18,Alm. Salg,46619.0,3,Lejlighed,105.0,1796.0,0.0,55.676839,12.573689,1466,2017,0.600778
2,"Store Kongensgade 112A, 3",1264 København K,250000,2017-05-15,Andet,1851.0,2,Lejlighed,135.0,1860.0,0.0,55.687079,12.590441,1264,2017,2.731312
3,"Amaliegade 13G, 2",1256 København K,7375000,2017-05-15,Alm. Salg,75255.0,3,Lejlighed,98.0,1948.0,9.0,55.683439,12.591287,1256,2017,2.673396
4,"Borgergade 144, 3. TH",1300 København K,5825000,2017-10-05,Alm. Salg,57673.0,3,Lejlighed,101.0,1854.0,3.0,55.687623,12.588744,1300,2017,2.590746

In [6]:
df.describe()

,price,price_per_sqm,no_rooms,size_in_sqm,year_of_construction,price_change_in_pct,latitude,longitude,zip_nr,sell_year,dist_from_cph_center
count,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06,1.038644e+06
mean,1.437446e+06,1.122160e+04,4.631876e+00,1.336675e+02,1.956144e+03,1.745242e+03,5.588472e+01,1.061821e+01,6.120533e+03,2.006601e+03,2.348664e+02
std,1.851221e+06,1.489797e+04,1.723463e+00,5.420673e+01,4.334513e+01,1.169178e+06,6.391005e-01,1.392883e+00,2.266808e+03,6.950279e+00,1.456680e+02
min,5.001000e+03,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+03,-1.000000e+02,5.456327e+01,8.087187e+00,1.050000e+03,1.992000e+03,1.881531e-01
25%,5.920000e+05,4.918000e+03,4.000000e+00,9.800000e+01,1.935000e+03,-1.000000e+00,5.545921e+01,9.579040e+00,4.220000e+03,2.001000e+03,8.731299e+01
50%,1.030000e+06,8.499500e+03,4.000000e+00,1.290000e+02,1.967000e+03,0.000000e+00,5.576548e+01,1.030861e+01,6.100000e+03,2.007000e+03,2.680543e+02
75%,1.750000e+06,1.414800e+04,5.000000e+00,1.610000e+02,1.980000e+03,0.000000e+00,5.620674e+01,1.196735e+01,8.300000e+03,2.013000e+03,3.446415e+02
max,7.923700e+07,2.650000e+06,4.650000e+02,5.363000e+03,2.017000e+03,1.070000e+09,5.774733e+01,1.515301e+01,9.990000e+03,2.017000e+03,5.034509e+02

In [7]:
df=df[df['price_change_in_pct'].notnull()]

In [8]:
df.isnull().T.any().T.sum()
#df[df.isnull().T.any().T]

0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1038644 entries, 0 to 1038643
Data columns (total 16 columns):
address                 1038644 non-null object
zip_code                1038644 non-null object
price                   1038644 non-null int64
sell_date               1038644 non-null object
sell_type               1038644 non-null object
price_per_sqm           1038644 non-null float64
no_rooms                1038644 non-null int64
housing_type            1038644 non-null object
size_in_sqm             1038644 non-null float64
year_of_construction    1038644 non-null float64
price_change_in_pct     1038644 non-null float64
latitude                1038644 non-null float64
longitude               1038644 non-null float64
zip_nr                  1038644 non-null int64
sell_year               1038644 non-null int64
dist_from_cph_center    1038644 non-null float64
dtypes: float64(7), int64(4), object(5)
memory usage: 134.7+ MB

In [10]:
df['labels'] = ""

In [11]:
df.loc[df['price_change_in_pct'] < -60.0,"labels"]=1
df.loc[(df['price_change_in_pct'] > -60.0) & (df['price_change_in_pct'] < 0.0),"labels"]=2
df.loc[df['price_change_in_pct'] == 0.0,"labels"]=3
df.loc[(df['price_change_in_pct'] > 0.0) & (df['price_change_in_pct'] < 100.0),"labels"]=4
df.loc[df['price_change_in_pct'] > 100.0,"labels"]=5

In [12]:
a = df[df['labels']==1]
b = df[df['labels']==2]
c = df[df['labels']==3]
d = df[df['labels']==4]
e = df[df['labels']==5]

In [14]:
asample = a.sample(n=50)
bsample =b.sample(n=50)
csample =c.sample(n=50)
dsample =d.sample(n=50)
esample =e.sample(n=50)

In [15]:
validation_y = pd.concat([asample, bsample, csample,dsample, esample])
validation_x = pd.concat([asample.iloc[:,0:16],bsample.iloc[:,0:16],csample.iloc[:,0:16],dsample.iloc[:,0:16],esample.iloc[:,0:16]])

In [16]:
df = df[~df.index.isin(validation_x.index)]

In [17]:
df.isna()

,address,zip_code,price,sell_date,sell_type,price_per_sqm,no_rooms,housing_type,size_in_sqm,year_of_construction,price_change_in_pct,latitude,longitude,zip_nr,sell_year,dist_from_cph_center,labels
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038614,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038615,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038616,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038617,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038618,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038619,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038620,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038621,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038622,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038623,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038624,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038625,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038626,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038627,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038628,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038629,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038630,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038631,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038632,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038633,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038634,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038635,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038636,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038637,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038638,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038639,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038640,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038641,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038642,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038643,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [18]:
#xx = df.iloc[:,0:16]
#x = xx['price'].values
df = df.apply(lambda labels :pd.to_numeric(labels, errors='coerce'))

In [22]:
df['no_rooms'].astype(int)
df['size_in_sqm'].astype(int)
df['zip_nr'].astype(int)
df['year_of_construction'].astype(int)
df['sell_year'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1038394 entries, 0 to 1038643
Data columns (total 17 columns):
address                 0 non-null float64
zip_code                0 non-null float64
price                   1038394 non-null int64
sell_date               0 non-null float64
sell_type               0 non-null float64
price_per_sqm           1038394 non-null float64
no_rooms                1038394 non-null int64
housing_type            0 non-null float64
size_in_sqm             1038394 non-null float64
year_of_construction    1038394 non-null float64
price_change_in_pct     1038394 non-null float64
latitude                1038394 non-null float64
longitude               1038394 non-null float64
zip_nr                  1038394 non-null int64
sell_year               1038394 non-null int64
dist_from_cph_center    1038394 non-null float64
labels                  1038125 non-null float64
dtypes: float64(13), int64(4)
memory usage: 142.6 MB

In [23]:
#x = df[['zip_nr','price','no_rooms','size_in_sqm','year_of_construction','sell_year']].values
df['price'] = df.price/100000
x = df[['zip_nr','price','no_rooms','size_in_sqm','year_of_construction','sell_year']].values

In [24]:
#y = df['labels'].values
y = df['labels'].values

In [25]:
print(x.shape,y.shape)

(1038394, 6) (1038394,)

In [27]:
x

array([[1.425e+03, 4.000e+01, 3.000e+00, 9.100e+01, 1.938e+03, 2.017e+03],
       [1.466e+03, 4.895e+01, 3.000e+00, 1.050e+02, 1.796e+03, 2.017e+03],
       [1.264e+03, 2.500e+00, 2.000e+00, 1.350e+02, 1.860e+03, 2.017e+03],
       ...,
       [9.990e+03, 5.450e+00, 4.000e+00, 1.070e+02, 1.974e+03, 1.992e+03],
       [9.990e+03, 5.000e+00, 5.000e+00, 1.160e+02, 1.977e+03, 1.992e+03],
       [9.990e+03, 6.925e-01, 3.000e+00, 8.500e+01, 1.911e+03, 1.992e+03]])

In [28]:
#x = x.reshape(-1,6)
#y = y.reshape(-1,1)

In [29]:
print(x.shape,y.shape)

(1038394, 6) (1038394,)

In [30]:
#nan = np.isnan(y_train).any()
#np.isnan(y_train).sum()

In [31]:
y.shape

(1038394,)

In [32]:
#np.where(np.isnan(y))

In [33]:
#np.isnan(y).any()

In [34]:
print(len(x), len(y))

1038394 1038394

In [35]:
#df.sell_type.value_counts()
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=5)

In [36]:
print(len(x_train), len(y_train),len(x_test), len(y_test) )

830715 830715 207679 207679

In [37]:
#np.isnan(y_train).any()
y_train

array([3., 3., 3., ..., 3., 3., 3.])

In [38]:
model_svm = svm.SVC()
model_dt = tree.DecisionTreeClassifier()
model_lr = LogisticRegression()
model_knn = KNeighborsClassifier()

In [39]:
model_knn = KNeighborsClassifier(n_neighbors = 5)

In [40]:
model_lr.fit(x_train,y_train)

C:\Users\yosuke\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [41]:
#model_knn.fit(x_train,y_train)

In [42]:
x

array([[1.425e+03, 4.000e+01, 3.000e+00, 9.100e+01, 1.938e+03, 2.017e+03],
       [1.466e+03, 4.895e+01, 3.000e+00, 1.050e+02, 1.796e+03, 2.017e+03],
       [1.264e+03, 2.500e+00, 2.000e+00, 1.350e+02, 1.860e+03, 2.017e+03],
       ...,
       [9.990e+03, 5.450e+00, 4.000e+00, 1.070e+02, 1.974e+03, 1.992e+03],
       [9.990e+03, 5.000e+00, 5.000e+00, 1.160e+02, 1.977e+03, 1.992e+03],
       [9.990e+03, 6.925e-01, 3.000e+00, 8.500e+01, 1.911e+03, 1.992e+03]])

In [38]:
y

0          3.0
1          3.0
2          3.0
3          4.0
4          4.0
5          3.0
6          3.0
7          3.0
8          3.0
9          2.0
10         3.0
11         3.0
12         3.0
13         2.0
14         3.0
15         2.0
16         3.0
17         3.0
18         3.0
19         3.0
20         3.0
21         3.0
22         2.0
23         3.0
24         2.0
25         3.0
26         3.0
27         3.0
28         2.0
29         2.0
          ...
1038614    3.0
1038615    3.0
1038616    3.0
1038617    3.0
1038618    3.0
1038619    3.0
1038620    3.0
1038621    3.0
1038622    3.0
1038623    3.0
1038624    3.0
1038625    3.0
1038626    3.0
1038627    3.0
1038628    3.0
1038629    3.0
1038630    3.0
1038631    3.0
1038632    3.0
1038633    3.0
1038634    3.0
1038635    3.0
1038636    3.0
1038637    3.0
1038638    3.0
1038639    3.0
1038640    3.0
1038641    3.0
1038642    3.0
1038643    3.0
Name: labels, Length: 1038394, dtype: float64

### Part 2: ML model selection and construction

### Part 3: Training & Validation

### Part 4: Report your findings (BI)

### Part 5: House Keeping